body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  min-width: 320px;
  height: 100%;
  font-size: 16px;
	font-family: sans-serif;
  background-color: #f2f2f2;
}

.header {
  min-height: 76px;
  background-color: #F56151;
}

.header__inner {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.header__title {
  font-weight: 100;
  font-size: 1.5em;
  color: white;
  margin-top: 28px;
  margin-bottom: 24px;
  margin-left: 15px;
  text-decoration: none;
}

.header__login {
  max-height: 28px;
  font-weight: 100;
  font-size: 1.2em;
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  padding: 8px 16px;
  text-decoration: none;
  border: solid 2px white;
  border-radius: 3px;
  transition: .4s;
}

.header__login:hover {
  background: white;
  color: #F56151;
}

.list {
  display: flex;
  flex-wrap: wrap;
}

.company__list {
  min-height: 500px;
  width: 100%;
  border-radius: 4px;
  margin-top: 25px;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 25px;
  padding-bottom: 25px;
  background-color: white;
}

.list__title {
  text-align: center;
  color: #F56151;
  font-weight: 400;
  font-size: 1.4em;
  margin-top: 24px;
  margin-left: 6px;
  margin-right: 6px;
  padding-top: 10px;
}

.list__item {
  font-size: 1.4em;
  color: #F56151;
  text-decoration: none;
}

.list__title__container {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
  margin-left: 12px;
  margin-right: 12px;
}

.latest__item {
  min-height: 500px;
  width: 100%;
  border-radius: 4px;
  margin-top: 25px;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 25px;
  padding-bottom: 25px;
  background-color: white;
}

.add__item {
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 3px;
  margin-top: 30px;
  margin-bottom: 24px;
  margin-right: 12px;
  color: white;
  background-color: #F56151;
}

@media screen and (min-width: 550px) {
  .company__list {
    width: 30%;
    margin-right: 0px;
  }
  .latest__item {
    width: 60%;
    margin-right: 0px;
  }
}

@media screen and (min-width: 400px) {
  .list__title {
    font-size: 1.6em;
  }
}

/* company.html */

.company__head {
  font-size: 1.6em;
  width: 100%;
  margin-left: 25px;
  margin-right: 25px;
}

.company__head__container {
  display: flex;
  justify-content: space-between;
}

.smartphone__items {
  min-height: 500px;
  width: 100%;
  border-radius: 4px;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 25px;
  padding-bottom: 25px;
  background-color: white;
}

/* ********** */

/* smartphone.html */

.smartphone__description {
  font-size: 1.2em;
  margin: 16px 16px;
}

.button__container {
  margin-top: 30px;
  margin-bottom: 30px;
}

.button__item {
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 3px;
  margin-left: 16px;
  color: white;
  background-color: #F56151;
}

/* ********** */

/* editItem.html */

.edit__item {
  min-height: 500px;
  width: auto;
  border-radius: 4px;
  margin-top: 25px;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 25px;
  padding-bottom: 30px;
  background-color: white;
}

.edit__info {
  margin-left: 15px;
  margin-top: 25px;
}

.edit__submit {
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 3px;
  color: white;
  background-color: #F56151;
}

textarea {
  vertical-align: top;
  font-size: 1.2em;
  resize: both;
  min-height: 200px;
  max-height: 400px;
  width: 60%;
}

/* ********** */
