{% extends "main.html" %}
{% block title %}Company: {{ company.name }}{% endblock %}

{% block content %}
<div class="list">
  <div class="company__head">
    <div class="company__head__container">
      <p class="list__title">{{ company.name }}</p>
    </div>
  </div>
  <div class="smartphone__items">
    <div class="list__title__container">
      <p class="list__title">Items</p>
      {% if 'username' in login_session %}
        <a href="{{ url_for('newSmartphoneFromCompany', company_id=company.id)}}" class="add__item">Add Item</a>
      {% endif %}
    </div>
    {% for smartphone in smartphones %}
      <ul>
        <li><a class="list__item" href="{{url_for('showSmartphone', company_id = company.id, smartphone_id = smartphone.id)}}">{{ smartphone.name }}</a></li>
      </ul>
    {% endfor %}
  </div>
</div>

{% endblock %}
