{% extends "main.html" %}
{% block title %}Delete Smartphone Item{% endblock %}

{% block content %}
<div class="edit__item">
  <div class="list__title__container">
    <p class="list__title">Are you sure you want to delete {{ deleteItem.name }}?</p>
  </div>
  <form action="{{ url_for('deleteSmartphone', company_id=company.id, smartphone_id=deleteItem.id)}}" method = "post">
    <div class="edit__info">
      <button class="edit__submit" type="submit">Delete</button>
    </div>

  </form>
</div>

{% endblock %}
