{% extends "main.html" %}
{% block title %}Edit Smartphone Item{% endblock %}

{% block content %}
  <form action="{{ url_for('editSmartphone', company_id=selectedCompany.id, smartphone_id=editItem.id)}}" method = "post">
    <label for="name">Name:</label>
		<input type ="text" maxlength="100" class="form-control" name="name" value="{{ editItem.name }}">
    <label for="description">Description:</label>
		<textarea class="form-control" maxlength="250" rows="3" name="description">{{ editItem.description }}</textarea>
    <label for="price">Price:</label>
    <input type ="text" maxlength="10" class="form-control" name="price" value="{{editItem.price}}">
    <select name="company">
      {% for company in companies %}
        <option value="{{ company.name }}" {% if editItem.company.name == company.name %}selected{% endif %}>{{ company.name }}</option>
      {% endfor %}
    </select>
    <button type="submit">Save</button>
  </form>
{% endblock %}
