{% extends "main.html" %}
{% block title %}Smartphone Catalog App{% endblock %}

{% block content %}
<div class="list">
  <div class="company__list">
    <div class="list__title__container">
      <p class="list__title">Companies</p>
    </div>
    {% for company in companies %}
      <ul>
        <li><a class="list__item" href="{{url_for('showCompany', company_id = company.id)}}">{{ company.name }}</a></li>
      </ul>
    {% endfor %}
  </div>
  <div class="latest__item">
    <div class="list__title__container">
      <p class="list__title">Latest Items</p>
      {% if 'username' in login_session %}
        <a href="{{ url_for('newSmartphone')}}" class="add__item">Add Item</a>
      {% endif %}
    </div>
    {% for smartphone in smartphones %}
      <ul>
        <li><a class="list__item" href="{{url_for('showSmartphone', company_id = smartphone.company_id, smartphone_id=smartphone.id)}}">{{ smartphone.name }}</a></li>
      </ul>
    {% endfor %}
  </div>
</div>
{% endblock %}
