{% extends "main.html" %}
{% block title %}Create New Smartphone Item{% endblock %}

{% block content %}
<div class="edit__item">
  <div class="list__title__container">
    <p class="list__title">Edit Item</p>
  </div>
  <form action="{{ url_for('newSmartphoneFromCompany', company_id=selectedCompany.id)}}" method = "post">
    <div class="edit__info">
      <label for="name">Name:</label>
  		<input type ="text" maxlength="100" class="form-control" name="name" value="">
    </div>
    <div class="edit__info">
      <label for="description">Description:</label>
  		<textarea class="form-control" maxlength="250" rows="3" name="description"></textarea>
    </div>
    <div class="edit__info">
      <label for="price">Price:</label>
      <input type ="text" maxlength="10" class="form-control" name="price" value="">
    </div>
    <div class="edit__info">
      <select name="company">
        {% for company in companies %}
          <option value="{{ company.name }}" {% if selectedCompany.name == company.name %}selected{% endif %}>{{ company.name }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="edit__info">
      <button class="edit__submit" type="submit">Save</button>
    </div>
  </form>
</div>
{% endblock %}
