{% extends "main.html" %}
{% block title %}Smartphone: {{ smartphone.name }}{% endblock %}

{% block content %}
<div class="list">
  <div class="company__head">
    <div class="company__head__container">
      <p class="list__title">{{ smartphone.name }} ({{ smartphone.price }})</p>
    </div>
  </div>
  <div class="smartphone__items">
    <div class="list__title__container">
      <p class="list__title">Description</p>
    </div>
    <p class="smartphone__description">{{ smartphone.description }}</p>
    <div class="button__container">
      <a class="button__item" href="{{url_for('editSmartphone', company_id = company.id, smartphone_id = smartphone.id)}}">Edit</a>
      <a class="button__item" href="{{url_for('deleteSmartphone', company_id = company.id, smartphone_id = smartphone.id)}}">Delete</a>
    </div>
  </div>
</div>
{% endblock %}
